<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Giao Diện</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <div
      class="bg-white p-10 rounded-xl shadow-2xl text-center max-w-md mx-auto border border-gray-200"
    >
      <div class="mb-4 text-6xl">🎉</div>

      <h1 class="text-4xl font-extrabold text-blue-600 mb-2">Hello World!</h1>

      <p class="text-gray-500 font-medium text-lg mb-6"><%= message %></p>

      <button
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded-full transition duration-300 transform hover:scale-105 cursor-pointer"
      >
        Bắt đầu Code
      </button>
      <a
        href="/report/vip"
        class="block w-full bg-pink-600 hover:bg-pink-700 text-white font-bold py-3 px-4 rounded mb-3 transition"
      >
        Vip Report 3.2
      </a>
    </div>
  </body>
</html>
